USE [master]
GO
/****** Object:  Database [DbVideoStore]    Script Date: 15/01/2021 21:47:07 ******/
CREATE DATABASE [DbVideoStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbVideoStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DbVideoStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbVideoStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DbVideoStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbVideoStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbVideoStore]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 15/01/2021 21:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](80) NOT NULL,
	[Email] [varchar](80) NOT NULL,
	[Avatar] [varchar](200) NOT NULL,
	[Active] [bit] NOT NULL,
	[ModifiedDate] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 15/01/2021 21:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[MovieID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](250) NOT NULL,
	[Description] [varchar](800) NOT NULL,
	[Poster] [varchar](250) NOT NULL,
	[Active] [bit] NOT NULL,
	[ModifiedDate] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_Movie] PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rental]    Script Date: 15/01/2021 21:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rental](
	[RentalID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[MovieID] [int] NOT NULL,
	[RentalDate] [smalldatetime] NOT NULL,
	[DueDate] [date] NOT NULL,
	[ReturnDate] [smalldatetime] NULL,
	[Active] [bit] NOT NULL,
	[ModifiedDate] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_Rental] PRIMARY KEY CLUSTERED 
(
	[RentalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [Name], [Email], [Avatar], [Active], [ModifiedDate]) VALUES (2, N'George Lucas', N'georgelucas@farpazflix.com', N'https://image.tmdb.org/t/p/w500/WCSZzWdtPmdRxH9LUCVi2JPCSJ.jpg', 1, CAST(N'2021-01-15T11:56:00' AS SmallDateTime))
INSERT [dbo].[Customer] ([CustomerID], [Name], [Email], [Avatar], [Active], [ModifiedDate]) VALUES (3, N'Mark Hamill', N'markhamill@farpazflix.com', N'https://image.tmdb.org/t/p/w500/9Wws35pCsT0KoZpiV4Gk5nbn9ZD.jpg', 1, CAST(N'2021-01-15T11:56:00' AS SmallDateTime))
INSERT [dbo].[Customer] ([CustomerID], [Name], [Email], [Avatar], [Active], [ModifiedDate]) VALUES (4, N'Harrison Ford', N'harrisonford@farpazflix.com', N'https://image.tmdb.org/t/p/w500/6MQgrJvdTPFvyErIgn0B2lTLVhr.jpg', 1, CAST(N'2021-01-15T11:56:00' AS SmallDateTime))
GO
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Movie] ON 

INSERT [dbo].[Movie] ([MovieID], [Title], [Description], [Poster], [Active], [ModifiedDate]) VALUES (1, N'Star Wars', N'Princess Leia is captured and held hostage by the evil Imperial forces in their effort to take over the galactic Empire. Venturesome Luke Skywalker and dashing captain Han Solo team together with the loveable robot duo R2-D2 and C-3PO to rescue the beautiful princess and restore peace and justice in the Empire.', N'https://image.tmdb.org/t/p/w500/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg', 1, CAST(N'2021-01-15T12:30:00' AS SmallDateTime))
INSERT [dbo].[Movie] ([MovieID], [Title], [Description], [Poster], [Active], [ModifiedDate]) VALUES (2, N'Finding Nemo', N'Nemo, an adventurous young clownfish, is unexpectedly taken from his Great Barrier Reef home to a dentist''s office aquarium. It''s up to his worrisome father Marlin and a friendly but forgetful fish Dory to bring Nemo home -- meeting vegetarian sharks, surfer dude turtles, hypnotic jellyfish, hungry seagulls, and more along the way.', N'https://image.tmdb.org/t/p/w500/eHuGQ10FUzK1mdOY69wF5pGgEf5.jpg', 1, CAST(N'2021-01-15T12:30:00' AS SmallDateTime))
INSERT [dbo].[Movie] ([MovieID], [Title], [Description], [Poster], [Active], [ModifiedDate]) VALUES (3, N'Forrest Gump', N'A man with a low IQ has accomplished great things in his life and been present during significant historic events—in each case, far exceeding what anyone imagined he could do. But despite all he has achieved, his one true love eludes him.', N'https://image.tmdb.org/t/p/w500/clolk7rB5lAjs41SD0Vt6IXYLMm.jpg', 1, CAST(N'2021-01-15T12:30:00' AS SmallDateTime))
GO
SET IDENTITY_INSERT [dbo].[Movie] OFF
GO
/****** Object:  Index [UIX_CustomerID_MovieID]    Script Date: 15/01/2021 21:47:07 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UIX_CustomerID_MovieID] ON [dbo].[Rental]
(
	[CustomerID] ASC,
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Rental]  WITH CHECK ADD  CONSTRAINT [FK_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Rental] CHECK CONSTRAINT [FK_CustomerID]
GO
ALTER TABLE [dbo].[Rental]  WITH CHECK ADD  CONSTRAINT [FK_MovieID] FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movie] ([MovieID])
GO
ALTER TABLE [dbo].[Rental] CHECK CONSTRAINT [FK_MovieID]
GO
USE [master]
GO
